.detail-container {
  margin: 20px auto;
  max-width: 1200px;
  padding: 1rem;
}

.detail-container .image img {
  width: 100%;
}

.detail-container .title {
  line-height: 1.5;
}

.detail-container .title h1,
.date {
  text-align: center;
}

.detail-container .wrapper button {
  background: var(--clr-primary);
  border: none;

  padding: 0.8em;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.detail-container .wrapper button a {
  color: var(--clr-btn-text);
  text-decoration: var(--clr-text-decoration);
}
