.form-container {
  border: var(--clr-border);
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  width: 100%;
}
.form-container select {
  width: 72%;
  padding: 0.8em;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  font-size: medium;
  /* border: none; */
}

.form-container button {
  background: var(--clr-primary);
  border: none;
  color: var(--clr-btn-text);
  padding: 0.8em;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.form-container .disabled {
  background-color: #696969;
}
