header {
  padding-top: 2.5rem;
  height: 120px;
  text-align: center;
  font-weight: 500;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr-text-light);
  border-bottom: var(--clr-border);
  background-image: url("https://images.unsplash.com/photo-1533284133567-0da9844151ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHJhY2luZyUyMGhvcnNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
}
