* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-text-dark: #111;
  --clr-text-light: #fff;
  --clr-btn-text: #fff;
  --clr-primary: #08679f;
  --clr-info: #fba442;
  --clr-border: 1px solid #d3d3d3;
  --clr-shadow: 2px 2px 5px 2px #d3d3d3;
  --clr-background: #e9e8e2;
  --clr-card-background: #fff;
  --clr-text-decoration: none;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

aside {
  width: 30%;
  color: var(--clr-text);
  padding: 0.2em;
  border-right: var(--clr-border);
}

main {
  margin: 0 auto;
  width: 70%;
  color: var(--clr-text);
  padding: 0.2em;
}


